<div class="mainbox left" >


    <div class="sub">
    <div  *ngFor="let title of tittles">
<h1 class="head" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{title.title}}</h1>
<p class="jus wt" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{title.content}}</p>
</div>
</div>



<div class="sub"  style="padding-right: 1%;">
<h1  style=" background-color: rgb(243, 235, 235);
padding-top: 2px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Navigation</h1>

<div class="sub" id="sub1"  >
    <div   *ngFor="let title of headertitie">
        <h4 class="head" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{title}}</h4>
</div>
</div>

</div>
